doctype transitional
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Premium account
  style(type='text/css').

    img { max-width: 600px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;}
    a img { border: none; }
    table { border-collapse: collapse !important; }
    #outlook a { padding:0; }
    .ReadMsgBody { width: 100%; }
    .ExternalClass {width:100%;}
    .backgroundTable {margin:0 auto; padding:0; width:100%;!important;}
    table td {border-collapse: collapse;}
    .ExternalClass * {line-height: 115%;}
  style(type='text/css', media='screen').
    @media screen {
    @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

    * {
    font-family: 'PT Sans', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
    }
    }
  style(type='text/css', media='only screen and (max-width: 599px)').
    /* Mobile styles */
    @media only screen and (max-width: 599px) {
    table[class*="w320"] {
    width: 320px !important;
    }
    td[class*="icons"] {
    display: block !important;
    text-align: center !important;
    padding: 0 !important;
    }
    td[class*="logo"] {
    display: block !important;
    text-align: center !important;
    padding: 0 !important;
    }
    td[class*="computer-image"] {
    display: block !important;
    width: 230px !important;
    padding: 0 45px !important;
    border-bottom: 1px solid #e3e3e3 !important;
    }
    td[class*="header-text"] {
    display: block !important;
    text-align: center !important;
    padding: 0 25px!important;
    padding-bottom: 25px !important;
    }
    *[class*="mobile-hide"] {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    }
    td[class="mobile-block"] {
    display: block !important;
    width: 260px !important;
    }
    }
table(align='center', cellpadding='0', cellspacing='0', width='100%', height='100%', style='border-collapse: collapse !important;')
  tr
    td(align='center', valign='top', style='background-color: #ffffff;font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;', width='100%')
      center
        table.w320(cellspacing='0', cellpadding='0', width='600', style='border-collapse: collapse !important;')
          tr
            td(align='center', valign='top', style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;')
              table.force-full-width(cellspacing='0', cellpadding='0', bgcolor='#232925', style='border-collapse: collapse !important;width: 100% !important;')
                tr
                  td.logo(style='background-color: #232925;font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;padding-left: 30px;')
                    br
                    h1.name(href='#', style='margin: 10px 0;color: #2b934f;') QuizMeApp
                  td.icons(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: right;border-collapse: collapse;padding-right: 30px;')
                    br
                    a(href='#', style='color: #2b934f;text-decoration: none;')
                      img(src='https://www.filepicker.io/api/file/Rw9fFADxSxK1JyEuQanm', alt='facebook', style='max-width: 600px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;border: none;')
                    a(href='#', style='color: #2b934f;text-decoration: none;')
                      img(src='https://www.filepicker.io/api/file/WzHKffHYQKe7xpO35hSw', alt='twitter', style='max-width: 600px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;border: none;')
                    a(href='#', style='color: #2b934f;text-decoration: none;')
                      img(src='https://www.filepicker.io/api/file/doa3fyePR0Kdnu55nlNo', alt='google+', style='max-width: 600px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;border: none;')
                    a(href='#', style='color: #2b934f;text-decoration: none;')
                      img(src='https://www.filepicker.io/api/file/dresyXUMRjalUp3zvwXC', alt='instagram', style='max-width: 600px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;border: none;')
              table.force-full-width(cellspacing='0', cellpadding='0', bgcolor='#232925', style='border-collapse: collapse !important;width: 100% !important;')
                tr
                  td.computer-image(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;padding-left: 30px;')
                    br
                    br.mobile-hide
                    img(style='display: block;max-width: 600px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;', width='224', height='213', src='logo.png', alt='hello')
                  td.header-text(style='color: #ffffff;font-family: Arial, sans-serif;font-size: 16px;text-align: left;border-collapse: collapse;padding-right: 30px;padding-left: 20px;')
                    br
                    br
                    span(style='font-size: 24px;') Welcome to your Premium experience!
                    br
                    br
                    |                     Please review your invoice below or view your account by clicking the button below.
                    br
                    br
                    div
                      //if mso
                        v:rect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='http://', style='height:40px;v-text-anchor:middle;width:150px;', stroke='f', fillcolor='#2b934f')
                          w:anchorlock
                            center
                      a(href='http://', style='background-color:#2b934f;color:#ffffff;display:inline-block;font-family:Helvetcia, sans-serif;font-size:16px;font-weight:light;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;') My Account
                      //if mso
                    br
              table.force-full-width(cellspacing='0', cellpadding='30', bgcolor='#ebebeb', style='border-collapse: collapse !important;width: 100% !important;')
                tr
                  td.mobile-block(style='width: 170px;vertical-align: top;font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;')
                    table(cellspacing='0', cellpadding='0', width='100%', style='border-collapse: collapse !important;')
                      tr
                        td(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;')
                          span.header(style='color: #232925;font-size: 24px;') Invoice: 12345
                          br
                          |                           June 2, 2014 
                          br
                          br
                          span.header(style='color: #232925;font-size: 24px;') Bob Erlicious
                          br
                          |                           123 Bobby Drive 
                          br
                          |                           Victoria, BC 
                          br
                          |                           V9A 8P8 
                          br
                  td.mobile-block(width='325', style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;')
                    table(cellspacing='0', cellpadding='0', width='100%', style='border-collapse: collapse !important;')
                      tr
                        td(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;')
                          table(cellspacing='0', cellpadding='0', width='100%', style='border-collapse: collapse !important;')
                            tr
                              td.grey-header(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;background-color: #dedede;padding: 5px;font-weight: bold;')
                                | Plan
                            tr
                              td.white-header(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;background-color: #f3f3f3;padding: 5px;')
                                | Gold Status
                      tr
                        td(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;')
                          table(cellspacing='0', cellpadding='0', width='100%', style='border-collapse: collapse !important;')
                            tr
                              td.grey-header(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;background-color: #dedede;padding: 5px;font-weight: bold;')
                                | Period
                            tr
                              td.white-header(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;background-color: #f3f3f3;padding: 5px;')
                                | May - June 2014
                      tr
                        td(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;')
                          table(cellspacing='0', cellpadding='0', width='100%', style='border-collapse: collapse !important;')
                            tr
                              td.grey-header(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;background-color: #dedede;padding: 5px;font-weight: bold;')
                                | Amount
                            tr
                              td.white-header(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;background-color: #f3f3f3;padding: 5px;')
                                | $39.99
              table.force-full-width(cellspacing='0', cellpadding='0', bgcolor='#ebebeb', style='border-collapse: collapse !important;width: 100% !important;')
                tr
                  td(style='padding: 0 30px;padding-bottom: 30px;font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;')
                    | The amount of 
                    b $50.00 CAD
                    |  has been charged on the credit card ending with 0123. Please feel free to 
                    a(href='#', style='color: #2b934f;text-decoration: none;') contact us
                    |  with any questions regarding this invoice.
                    br
                    br
                    |                     Sincerely,
                    br
                    |                     Team QuizMeApp
              table.force-full-width(cellspacing='0', cellpadding='20', bgcolor='#2b934f', style='border-collapse: collapse !important;width: 100% !important;')
                tr
                  td(style='background-color: #2b934f;color: #ffffff;font-size: 14px;text-align: center;font-family: Arial, sans-serif;border-collapse: collapse;')
                    | &copy; 2021 All Rights Reserved
