doctype transitional
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Recuperar cuenta
  style(type='text/css').

    img { max-width: 600px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;}
    a img { border: none; }
    table { border-collapse: collapse !important; }
    #outlook a { padding:0; }
    .ReadMsgBody { width: 100%; }
    .ExternalClass {width:100%;}
    .backgroundTable {margin:0 auto; padding:0; width:100%;!important;}
    table td {border-collapse: collapse;}
    .ExternalClass * {line-height: 115%;}
  style(type='text/css', media='screen').
    @media screen {
    @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

    * {
    font-family: 'PT Sans', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
    }
    }
  style(type='text/css', media='only screen and (max-width: 599px)').
    /* Mobile styles */
    @media only screen and (max-width: 599px) {
    table[class*="w320"] {
    width: 320px !important;
    }
    td[class*="icons"] {
    display: block !important;
    text-align: center !important;
    padding: 0 !important;
    }
    td[class*="logo"] {
    display: block !important;
    text-align: center !important;
    padding: 0 !important;
    }
    td[class*="computer-image"] {
    display: block !important;
    width: 230px !important;
    padding: 0 45px !important;
    border-bottom: 1px solid #e3e3e3 !important;
    }
    td[class*="header-text"] {
    display: block !important;
    text-align: center !important;
    padding: 0 25px!important;
    padding-bottom: 25px !important;
    }
    *[class*="mobile-hide"] {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    }
    }
table(align='center', cellpadding='0', cellspacing='0', width='100%', height='100%', style='border-collapse: collapse !important;')
  tr
    td(align='center', valign='top', style='background-color: #ffffff;font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;', width='100%')
      center
        table.w320(cellspacing='0', cellpadding='0', width='600', style='border-collapse: collapse !important;')
          tr
            td(align='center', valign='top', style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;')
              table.force-full-width(cellspacing='0', cellpadding='0', bgcolor='#232925', style='border-collapse: collapse !important;width: 100% !important;')
                tr
                  td.logo(style='background-color: #232925;font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;padding-left: 30px;')
                    br
                    h1.name(href='#', style='margin: 10px 0;color: #2b934f;') QuizMeApp
                  td.icons(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: right;border-collapse: collapse;padding-right: 30px;')
                    br
                    a(href='https://facebook.com', style='color: #2b934f;text-decoration: none;')
                      img(src='https://www.filepicker.io/api/file/Rw9fFADxSxK1JyEuQanm', alt='facebook', style='max-width: 600px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;border: none;')
                    a(href='https://twitter.com', style='color: #2b934f;text-decoration: none;')
                      img(src='https://www.filepicker.io/api/file/WzHKffHYQKe7xpO35hSw', alt='twitter', style='max-width: 600px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;border: none;')
                    a(href='https://google.com', style='color: #2b934f;text-decoration: none;')
                      img(src='https://www.filepicker.io/api/file/doa3fyePR0Kdnu55nlNo', alt='google+', style='max-width: 600px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;border: none;')
                    a(href='https://instagram.com', style='color: #2b934f;text-decoration: none;')
                      img(src='https://www.filepicker.io/api/file/dresyXUMRjalUp3zvwXC', alt='instagram', style='max-width: 600px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;border: none;')
              table.force-full-width(cellspacing='0', cellpadding='0', bgcolor='#232925', style='border-collapse: collapse !important;width: 100% !important;')
                tr
                  td.computer-image(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;padding-left: 30px;')
                    br
                    br.mobile-hide
                    img(style='display: block;max-width: 600px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;', width='224', height='213', src='https://i.imgur.com/RqxDGKg.png', alt='hello')
                  td.header-text(style='color: #ffffff;font-family: Arial, sans-serif;font-size: 16px;text-align: left;border-collapse: collapse;padding-right: 30px;padding-left: 20px;')
                    br
                    br
                    span(style='font-size: 24px;') Recuperar cuenta. 
                    br
                    br
                    |                     Si no has solicitado una nueva contraseña ignora este email. 
                    br
                    br
                    div
                      //if mso
                        v:rect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='http://', style='height:40px;v-text-anchor:middle;width:150px;', stroke='f', fillcolor='#2b934f')
                          w:anchorlock
                            center
                      //if mso
              table.force-full-width(cellspacing='0', cellpadding='30', bgcolor='#ebebeb', style='border-collapse: collapse !important;width: 100% !important;')
                tr
                  td(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;')
                    table.force-full-width(cellspacing='0', cellpadding='0', style='border-collapse: collapse !important;width: 100% !important;')
                      tr
                        td(style='font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;')
                          span.header(style='color: #232925;font-size: 24px;') Hola #{name}!
                          br
                          |                           Estás recibiendo este email porque solicitaste una  recuperación de contraseña para tu cuenta en QuizMeApp. Si no solicitaste este cambio de contraseña ignora este email.
                          |                           Gracias,
                          |                           Equipo QuizMeApp 
                          br
                          br
                    table.force-full-width(cellspacing='0', cellpadding='0', style='border-collapse: collapse !important;width: 100% !important;')
                      tr
                        td(style='background-color: #dedede;padding: 5px;font-weight: bold;font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;')
                          | Código de recuperación
                      tr
                        td(style='background-color: #f3f3f3;padding: 10px 5px;font-family: Arial, sans-serif;color: #5e5e5e;font-size: 16px;text-align: left;border-collapse: collapse;')
                          | #{code}
                      tr
                          
              table.force-full-width(cellspacing='0', cellpadding='20', bgcolor='#2b934f', style='border-collapse: collapse !important;width: 100% !important;')
                tr
                  td(style='background-color: #2b934f;color: #ffffff;font-size: 14px;text-align: center;font-family: Arial, sans-serif;border-collapse: collapse;')
                    | &copy; 2021 Todos los derechos reservados.
